
<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Website</title>
	<link rel="stylesheet" href="{% static 'css\style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="fontawesome-free/css/all.min.css">
</head>
<body>
	<div class="navigation">
		<div class="nav-menu">
			<ul class="menu">
				<li class="nav-item"><a href="http://127.0.0.1:8000/myapp/main/" class="nav-link">Главная страница</a></li>
				<li class="nav-item"><a href="http://127.0.0.1:8000/myapp/main/request/" class="nav-link">Запрос</a></li>
				<li class="nav-item"><a href="http://127.0.0.1:8000/myapp/main/history/" class="nav-link">История запросов</a></li>
			</ul>
		</div>
		</div>

	<div class="main-information">
		<form method="POST" action="/myapp/main/request/work/">
			<fieldset>
			 <legend>Введите данные:</legend>
			 <label for="fname">URL cайта:</label>
			 <input type="text" id="fname" name="fname" required><br><br>
			 <label for="lname">Название сайта:</label>
			 <input type="text" id="lname" name="lname" required><br><br>
			 <button type="submit">Получить информацию</button>
			</fieldset>
		   </form>
	</div>
	</div>
	</div>
</body>
</html>